#headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainLogoContainer {
  display: inline-block;
  margin: 20px;
}

#discordLogoMenuBar {
  height: 50px;
  width: auto;
}

#discordSvgContainer {
  margin: 30px;
  color: #919191;
  height: 50px;
}

#discordSvgContainer:hover {
  color: #4b4b4b;
}
